body {
	background: #fff;
	padding: 0px;
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

input,
button {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

.flex-list {
	position: relative;
	margin: 1%;
	overflow: hidden;
}
.flex-list ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: trasparent;
	height: 10%;
}
.flex-list li {
	box-sizing: border-box;
	appearance: none;
	background-color: #81e2c0;
	border: 2px solid #68b59d;
	border-radius: 0.6em;
	color: black;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 70%;
	font-weight: 120%;
	line-height: 1;
	margin: 0.1%;
	padding: 1% 2%;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
div.flex-list li:hover,
div.flex-list li:focus {
	color: #fff;
	background-color: #68b59d;
	outline: 0;
}

a.navbarfont:hover,
a.navbarfont:focus {
	color: #fff;
}

.navbarfont {
	font-size: 150%;
	color: black;
}
.dplogout {
	border-radius: 5px;
	padding: 10px;
	display: block;
	margin-top: -10px;
	text-align: center;
	height: 60px;
	width: 220px;
	border: 3px solid #ccc;
	background-color: PaleGoldenRod;
}
.weeb {
	margin: 1%;
	font-size: 220%;
	color: darkgreen;
	font-weight: bold;
	background-color: transparent;
}

.mangalist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 0px;
}
.mangaimg {
	flex-grow: 0;
	padding: 0 0em;
	display: block;
	float: left;
	border-left: 0px solid #ccc;
	background-color: darkgray;
}
.mbody {
	position: absolute;
	top: 11%;
}
body {
	background-color: #a4b8b5;
}
header {
	background-color: #85e1d3;
	border: 1px solid blueviolet;
	height: 11%;
	width: 100%;
}
td {
	vertical-align: top;
	padding: 3%;
}
