#s-80b276cc-be60-4e35-b798-90e996395b7a #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-80b276cc-be60-4e35-b798-90e996395b7a #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-80b276cc-be60-4e35-b798-90e996395b7a #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80b276cc-be60-4e35-b798-90e996395b7a #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-80b276cc-be60-4e35-b798-90e996395b7a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80b276cc-be60-4e35-b798-90e996395b7a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-80b276cc-be60-4e35-b798-90e996395b7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}