#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b2442c22-ce90-4d92-a90f-e89f3a0c8d20 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}